.audiences.side_shadow
	h2 Audiences
	a(href="/audiences/new").btn.add Create Audience
	ul.list#audiences
		each audience in audiences
			li
				.actions(data-audiencesid=`${audience._id}`)
					a(href=`/audiences?id=${audience._id}`).emails
					a(href=`/audiences/edit/${audience._id}`).edit
					span.remove
				p #{audience.name}
	//- .btn.btn_openform Create Audience
	//- .form#new_website_form
	//- 	label Audience Name
	//- 	input(type="text", placholder="Audience Name...")#q_name
	//- 	span#yeah_hmm find from the begining or select dates below...
	//- 	input(type="checkbox")#date_toggle
	//- 	.half.half_gap
	//- 		#from_dateBox.disable
	//- 			label From...
	//- 			input(type="text" data-provide="datepicker")#q_from
	//- 	.half
	//- 		#to_dateBox.disable
	//- 			label To
	//- 			input(type="text" data-provide="datepicker")#q_to
	//- 	hr
	//- 	label Website
	//- 	.theWebsites
	//- 		.half.half_gap
	//- 			ul
	//- 				each website in websites_left
	//- 					li
	//- 						input(type="checkbox", value=`${website._id}`)
	//- 						span #{website.domain}
	//- 		if websites_right
	//- 			.half
	//- 				ul
	//- 					each website in websites_right
	//- 						li
	//- 							input(type="checkbox", value=`${website}`) 
	//- 							span #{Website}

	//- 	.btn#add_new.save Get Audience
	//- ul
	//- 	li Yeah